img{
	border-radius: 20px;
}
h2{
	text-align: center;
}
ul{
	margin-left: 160px;
	font-size: 25;

}
#left{
	float:left;
	border-left: black solid 2px;
	width: 650px;

}
#right{
	margin-right: 150px;
	float: right;
	width: 650px;
}
